<apex:page standardcontroller="Account" recordSetvar="accounts"
    extensions="accountSetext" showheader="false"
    contenttype="application/vnd.google-earth.kml+xml#sfdc_foundation.kml"><kml xmlns="http://www.opengis.net/kml/2.2">
    <Document>
    <name>sfdc_foundation.kml</name>
    <Folder>
    <name>Foundation Grantees</name>
    <open>1</open>
    <apex:repeat value="{!selected}" var="acc">
        <Placemark>
        <name>
        <apex:outputtext value="{!acc.name}" />
        </name>
        <description>
        <apex:outputtext value="{!acc.description}" />
    {!acc.billingcity}, {!acc.billingstate}      
    {!acc.website}<br />
    {!acc.phone}<br />
        <a href="https://na1.salesforce.com/{!acc.id}">view account</a>
        </description>
        <Point>
        <coordinates>{!acc.lon__c},{!acc.lat__c},0</coordinates>
        </Point>
        </Placemark>
    </apex:repeat>
    </Folder>
    </Document>
    </kml>
</apex:page>